**/*.dll
**/*.dylib
**/*.exe
**/*.out
**/*.pyc
**/*.so
**/*.test
**/*~
**/__pycache__
**/.gcloudignore
.git
.github
**/.gitignore
**/.mypy_cache
**/.pytest_cache
**/.ruff_cache
**/.venv
**/Dockerfile*
**/venv
